[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/glusterfs"]
	path = modules/glusterfs
	url = https://github.com/carroarmato0/puppet-glusterfs.git
[submodule "modules/lvm"]
	path = modules/lvm
	url = https://github.com/puppetlabs/puppetlabs-lvm.git
[submodule "modules/apache"]
	path = modules/apache
	url = git@github.com:vStone/puppet-apache.git
[submodule "modules/epel"]
	path = modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
